@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@layer components{
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .icon{
        background: hsla(5, 96%, 45%, 1);
        margin-bottom: 23px;
        display: flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 10px;
    }
    .shadow-group{
        border-bottom: 3px solid;
        border-color: lightgray;
    }
    .mat-list-name {
        font-weight: 600;
        font-size: 20px;
    }
    .mat-list-desc {
        color: #6a7282;
        font-size: 18px;
        margin-top: -10px;
    }
    .st{
        @apply font-normal text-black mt-4;
    }
    .st-g{
        @apply font-normal text-green-600 mt-2;
    }
    .st-ul {
        @apply font-normal text-black;
    }
    .hr-d{
        @apply mt-5 border-solid border-gray-300 border;
    }
    .hr-g{
        @apply mt-5 border-solid border-green-300 border;
    }
    .cosmic-pop{
       background: linear-gradient(90deg, #40C9FF, #E81CFF);
    } /*credits to coolors.co for gradient yahooo*/
    .st-bu{
        @apply font-normal text-black;
    }
    .font-code{
        font-family: 'JetBrains Mono';
        @apply mt-2 mb-2 text-green-500 bg-black w-auto h-auto p-5 rounded-[15px] tracking-[0.1em];
    }
    .font-jet {
        font-family:'JetBrains Mono';
    }
    .chat-msg{
        @apply text-black font-normal bg-green-400 rounded-xl w-auto h-auto p-3 mt-2 mb-2;
    }
    .chat-msg-user{
        @apply text-black font-normal bg-blue-300 rounded-xl w-auto h-auto p-3 mt-2 mb-2;
    }
    .typing-dots::after{
        content:".";
        animation: dots 1s steps(3, end) infinite;
    }
    @keyframes dots {
        0% {
            content: ".";
        }
        50% {
            content: "..";
        }
        100% {
            content: "...";
        }
    }
}